{% extends 'movie/layouts/base.html' %}

{% block stylesheet %}
<style>
#movie-list-page {
	margin: 2% 20%;
}
</style>
{% endblock %}

{% block content %}
<div id="movie-list-page" class="container">
	<table>
		<thead>
			<tr>
				<th>Title</th>
			</tr>
		</thead>

		<tbody>
			{% for movie in object_list %}
			<tr>
				<td>
					<a href="{% url 'movie:detail' movie.id %}">{{ movie.title }}</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td>There are no movies stored in the database.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{% url 'movie:add' %}">Add</a>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
		
</script>
{% endblock %}