{% extends 'movie/layouts/base.html' %}

{% block stylesheet %}
<style>
#movie-detail-page {
	margin: 2% 20%;
}

</style>
{% endblock %}

{% block content %}
<div id="movie-detail-page" class="container">

	{% if messages %}
	    {% for message in messages %}
	    <div class="panel panel-success">
	        <div class="panel-heading">{{ message }}</div>
	    </div>
	    {% endfor %}
	{% endif %}

	<h1>{{ object.title }}</h1>

	<p>
		{{ object.plot }}
	</p>

	Likes: {{ object.likes }}
</div>
{% endblock %}