{% extends 'movie/layouts/base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<div>
		<h1>Movie Bucket</h1>

		<a href="{% url 'movie:add' %}" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span> Add
		</a>
	<table class="table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Plot</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>

		<tbody>
			{% for movie in object_list %}
			<tr>
				<td>
					<a href="{% url 'movie:detail' movie.id %}">{{ movie.title }}</a>
				</td>
				<td>
					{{ movie.plot }}
				</td>
				<td>
					<a href="{% url 'movie:update' movie.id %}" class="btn btn-default">
						<span class="glyphicon glyphicon-pencil"></span> Edit
					</a>
				</td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirm-delete-modal-{{ movie.id }}">Delete</button>
				</td>
			</tr>

			{% include 'movie/modals/confirm-delete-modal.html' %}

			{% empty %}
			<tr>
				<td>There are no movies stored in the database.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}