{% extends 'movie/layouts/base.html' %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'movie/js/movie.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	{% if messages %}
	    {% for message in messages %}
	    <div class="panel panel-success">
	        <div class="panel-heading">{{ message }}</div>
	    </div>
	    {% endfor %}
	{% endif %}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div>
				<h2>{{ object.title }}</h2>
				
				<button type="button" class="btn btn-sm btn-primary add-like" id="{{ object.id }}" >
					<span class="glyphicon glyphicon-thumbs-up" ></span>
					Likes: <span id="like-{{ object.id }}">{{ object.likes }}</span>
				</button>
			</div>
		</div>

		<div class="panel-body">
			{{ object.plot }}
		</div>

	</div>

	
</div>
{% endblock %}